.container {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

#task {
  list-style: none;
  padding: 0;
  margin: 0;
}

#task li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#task li.done {
  text-decoration: line-through;
  color: #666;
}

.delete, .done {
  background-color: #4CAF50; /* Verde */
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.delete:hover, .done:hover {
  background-color: #3e8e41; /* Verde oscuro */
}

.delete {
  background-color: #e74c3c; /* Rojo */
}

.delete:hover {
  background-color: #c0392b; /* Rojo oscuro */
}